**/node_modules
**/node_modules/

**/dist

**/.git
.git
.typesense-data
.postgres-data

typesense/.typesense-data
postgres/.postgres-data
rabbitmq/.rabbitmq-data

**/logs
**/*.log
**/.cache

**/.gradle
**/.idea
**/build
**/.build
**/*-key.json

tmp